*{
    padding:0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(/photo/woodbackground.jpg);
    background-size:280vh;
   background-repeat: repeat; 
}
.container{
    width: 100%;
    height: 41.08rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentbody{
    width: 80%;
    height: 80%;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}
.titlebody{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 30px;
    font-weight: 700;
}
.backbtn{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 20px;
    top: 5px;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 24px;
    font-weight: 300;
    transition: 0.1s;
  }
  .backbtn p{
    text-align: center;
    padding-bottom: 5px;
  }
  .backbtn:hover{
    background-color: rgba(0, 0, 0, 0.194);
    border-radius: 50%;
    cursor: pointer;
  }
.contentsbody{
    width: 95%;
    height: 80%;
    display: flex;
    justify-content: center;
}
.content{
    width: 95%;
    height: 95%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 1px;
}
@media screen and (min-width:425px) and (max-width:710px){
    .title{
        font-size: 28px;
    }
    .content{
        font-size: 16px;
        letter-spacing: 0.5px;
        word-spacing: 0.25px;
    }
    .backbtn{
        right: 0;
    }

}
@media screen and (min-width:320px) and (max-width:425px){
    .title{
        font-size: 28px;
    }
    .content{
        font-size: 15px;
        letter-spacing: 0.6px;
        word-spacing: 1px;
    }
    .contentbody{
        width: 90%;
        height: 90%;
       
    }
    .backbtn{
        right: 0;
    }
}