*{
    margin: 0;
    padding: 0;
}
.container{
    height: 50rem;
    width: 100%;
    background-image: url(/photo/woodbackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



#menu-items{
    position: absolute;
    height: 15rem;
    width: 180px;
    right: 10px;
    top: 5.9rem;
}
.ullinks{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.372);
    border-radius: 16px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(7px);
  list-style: none;
}   
.navbar-links {
    height: 25%;
    display: flex;
    align-items: center;
}
.navbar-links a{
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.navbar-links a:hover{
    color: goldenrod;
    border-bottom: 1px solid goldenrod;

}
#toggle{
    width: 15px;
    height: 15px;
    position: absolute;
    right: 4%;
    top: 5%;
}

















.titlesbody{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebody{
    width: 400px;
    height: 95%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.52);
    display: flex;
    flex-direction: column;
}
.title2body{
   width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}
#titlestyle{
    width: 25%;
    font-size: 32px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
#titlestyle.title1{
    margin-left: 200px;
    color: green;
    border-bottom: 2px white solid;
}
#titlestyle.title2{
  margin-left: 110px;
  color: red;
  border-bottom: 2px white solid;

}

.content{
    width: 100%;
    height: 35rem;
    display: flex;
    align-items: center;
}
.imgsbody{
    height: 90%;
    width: 20%;
}
.contentbody{
    width: 60%;
    height: 90%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.432);
}
.btnsbody{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnbody2{
    height: 100%;
    width: 50%;
    display: flex;
}
.btnbody{
    width: 50%;
    height: 100%;
    display: flex;
    align-items:center; 
    justify-content: center; 
}
.btn{
    height: 100%;
    width: 100%;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
    border: 1px solid black;
    transition: 0.5s;
}
.btn:hover{
    background-color: rgba(0, 128, 0, 0.462);
}
.menubody{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center ;
}
#menu1body{
    width: 90%;
    height: 95%;
    overflow: auto;
}
#menu1body::-webkit-scrollbar-thumb{
background-color: rgba(255, 255, 255, 0.184);
}
.rows{
    height: 35%;
    width: 100%;
    display: flex;
}
#menu1body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: white;
}
#menu1body::-webkit-scrollbar {
    width: 2px;
    border-radius: 12px;
    background-color: #F5F5F5;
}
#menu1body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #D62929;
}
.contents{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.rowtitlebody{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
}
.rowtitle{
    color: white;
    font-weight: 700;
     font-size: 30px;
     letter-spacing: 1.2px;
}
.rowcontentsbody{
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
}
.rowcontnet{
    color: rgba(255, 255, 255, 0.569);
    font-size: 22px;
    letter-spacing: 1.2px;
}
.pricebody{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pricebody{
    color: rgba(255, 255, 255, 0.569);
    font-size: 18px;
    font-weight: 600;
}

#menu2body{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.row2{
    width: 100%;
    height: 50%;
    display: flex;
}
.groupsbody{
    height: 100%;
    width: 50%;
}
#menu2body{
    display: none;
}
.groupstitlebody{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
}
.grouptitle{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.groupcontentbody{
    height:90%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
li{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.604);
}
.imgbody{
    width: 100%;
    height: 33%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.img{
    width: 130px;
    height: 130px;
}
.footerbody{
    display: none;
    height: 6rem;
    width: 100%;
    display: flex;
    display: none;
}
.footerimgbody{
width: 33%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}

@media screen and (min-width:320px) and (max-width:700px){
    .footerbody{
        display: flex;
    }
    .contentbody{
        width: 90%;
    }
}
@media screen and (min-width:700px) and (max-width:800px){
.rowtitle{
    font-size: 25px;
    letter-spacing: 2px;
}
.rowcontnet{
    font-size: 18px;
    letter-spacing: 0.5px;
}

.img{
    width: 110px;
    height: 110px;
}
.grouptitle{
    font-size: 18px;
}
  }
  @media screen and (min-width:430px) and (max-width:700px){
    .titlebody{
        width: 290px;
    }
    #titlestyle.title1{
        width: auto;
        margin-left: 150px;
    }
    #titlestyle.title2{
        width: auto;
        margin-left: 50px;
    }
    .imgsbody{
        display: none;
    }
    .content{
        justify-content: center;
    }
    .rowtitle{
        font-size: 20px;
        letter-spacing: 0px;
    }
    .rowcontnet{
        font-size: 16px;
        letter-spacing: 0.2px;
    } 
    .img{
        width: 90px;
        height: 90px;
    }
    .grouptitle{
        font-size: 14px;
        letter-spacing: 0px;
    }
    li{
        font-size: 13px;
    }
    .imgsbody{
        width: 30%;
    }
    .btnbody2{
        width: 85%;
    }
    .btn{
        font-size: 16px;
    }
    .price{
        font-size: 14px;
    }
}
@media screen and (min-width:320px) and (max-width:430px){
    .imgsbody{
        display: none;
    }
    .content{
        justify-content: center;
    }
    .rowtitle{
        font-size: 16px;
        letter-spacing:0;
    }
    .rowcontnet{
        font-size: 15px;
        letter-spacing: 0.5px;
    }
    
    .img{
        width: 50px;
        height: 50px;
    }
    .grouptitle{
        font-size: 15px;
        letter-spacing: 0px;
    }
    .imgsbody{
        width: 20%;
    }
    .btnbody2{
        width: 85%;
    }
    .btn{
        font-size: 16px;
    }
    .price{
        font-size: 12px;
    }
    .titlebody{
        width: 200px;
    }
    #titlestyle.title1{
        margin-left: 90px;
        width: auto;
       
    }
    #titlestyle.title2{
      margin-left: 10px;
      width: auto;
    }
    .grouptitle{
        font-size: 12px;
        letter-spacing: 0px;
    }
    li{
        font-size: 13px;
    }

}


